.titlewrapper {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    @media (min-width: 630px) {
        font-size: 3em;
    }
}

.processlist {
    width: 89%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}

.processitem {
    width: calc(100vw / 3);
    height: 100%;
    position: relative;
    text-align: center;
    opacity: 0;
    @media (min-width: 630px) {
        width: calc(100vw / 4.3);
    }
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            -webkit-animation: homeFadein 0.9s forwards $i * 0.9s ease-out;
                    animation: homeFadein 0.9s forwards $i * 0.9s ease-out;
        }
    }
}

@-webkit-keyframes homeFadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes homeFadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.imgWrap {
    min-width: 18vw;
    min-height: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.processName {
    font-size: 0.8em;
    @media (min-width: 630px) {
        font-size: 1em;
    }
}