.main {
    margin-bottom: 80px;
}

.complete {
    -webkit-animation: fadeIn 0.5s ease;
    animation: fadeIn 0.5s ease;
}

.start {
    -webkit-animation: fadeOut 0.5s ease;
    animation: fadeOut 0.5s ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.headernav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: var(--bg);
    box-shadow: rgba(#000, 0.2) 0px 0px 19px 0px;
    height: 62px;
}

.headernavlist {
    width: calc(100vw / 5);
    height: 100%;
    color: rgba(#000, 0.3);
    border-bottom: var(--bg) 2px solid;
    transition: border-bottom 0.3s;
    &:hover {
        border-bottom: rgba(#000, 0.3) 2px solid;
    }
}

.anchor {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.listActive {
    border-bottom: var(--font) 2px solid;
    color: var(--font);
}

.toggleLang {
    width: 100%;
    height: 100px;
    padding: 16px 38px 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 72px;
    height: 45px;
}

.switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #000;
    transition: 0.4s;
    border-radius: 45px;
}

.slider:before {
    position: absolute;
    content: "En";
    height: 2em;
    width: 2em;
    border-radius: 16px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    background-color: white;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:checked+.slider:before {
    content: "å’Œ";
    transform: translateY(-50%) translateX(1.6em);
}