.main {
    margin-bottom: 80px;
}

.headernav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: var(--bg);
    box-shadow: rgba(#000, 0.2) 0px 0px 19px 0px;
    height: 62px;
}

.headernavlist {
    width: calc(100vw / 4);
    height: 100%;
    color: rgba(#000, 0.3);
    border-bottom: var(--bg) 2px solid;
    transition: border-bottom 0.3s;
    &:hover {
        border-bottom: rgba(#000, 0.3) 2px solid;
    }
}

.anchor {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.listActive {
    border-bottom: var(--font) 2px solid;
    color: var(--font);
}