.desc {
    width: 85%;
    margin: 0 auto 40px;
    text-align: center;
}

.table {
    width: 89%;
    max-width: 678px;
    margin: 0 auto;
    border-spacing: 0em;
    border-radius: 1em;
    td,
    th {
        padding: 13px 17px;
    }
    th {
        background-color: #525252;
        color: #fff;
    }
    @media screen and (min-width: 630px) {
        width: 72%;
    }
}

.sname {
    font-style: italic;
}

.pname {
    padding-right: 2em;
}

.namerow {
    &:nth-child(odd) {
        background-color: #f3f3f3;
    }
}